main.kabaneri-page {
  background: linear-gradient(120deg, #f8fafc 0%, #e0e7ef 100%);
  border-radius: 1.5rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);

  padding: 1rem;

  min-height: 80vh;
  max-width: 400px;
  width: 400px
}

.kabaneri-page h1 {
  color: red;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}